<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/view.css}" href="../static/css/view.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Splash&display=swap"
    />
</head>
<body>
<header>
    <h1>Company Name</h1>
    <a href="/dashboard/index" class="homelink"><span>Home</span></a>
</header>
<div class="container">
    <table>
        <tr>
            <td>Payment ID</td>
            <td>Amount</td>
            <td>Emmited At</td>
        </tr>
        <tr th:each="payment : ${paymentHistory}">
            <td><p th:text="${payment.getPaymentId}"></p></td>
            <td><p th:text="${payment.getAmount}"></p></td>
            <td><p th:text="${payment.getEmittedAt}"></p></td>

            <td th:if="${payment.needsToBePaid}"><a th:if="${payment.needsToBePaid}" th:href="@{'/tenant/pay/' + ${apartment.getApartmentId}}">Pay</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
